body {
	margin:0;
}

#main {
	background-image: url("../img/bg.png");
}

#main #canvas {
	margin: 0 auto;
	background-color:transparent;
}

#user .tamago {
	position:absolute;
	top:0;
	left:0;
	width:100px;
	height:182px;
}