doctype html
html(lang='ja')
	head
		title= 'Tamago Tank Main'
		script(src='/socket.io/socket.io.js')
		script(src='./lib/chikuwa.min.js')
		link(rel='stylesheet',href='./module/css/main.css')
	body
		//- div.poi
		canvas#canvas(width='800px',height='600px')
	script(src='./module/js/main.js')